<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <i class="fa fa-car"></i>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/vehicles">Vehicles</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/booking">Booking</a>
      </li>
    </ul>
    <div class="d-flex align-items-center ms-auto">
      <!-- Show username -->
      <span class="text-white me-3"> <i class="fa fa-user"></i> {{ username }} </span>

      <!-- Logout button -->
      <button class="btn btn-outline-light btn-sm" (click)="onLogout()">
        <i class="fa fa-sign-out"></i> Logout
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
